{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            {% include "_breadcrumb.html.twig" with {items: [
                {href: path('fos_user_profile_show'), name: "Profile" },
                {name: 'change_password.submit'|trans({}, 'FOSUserBundle')}
            ]} %}
            <div>
                {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
            </div>
        </div>
    </div>
{% endblock content %}
