{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</h1>
            <div>
                {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
            </div>
        </div>
    </div>
{% endblock content %}
