{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="#">Navbar</a>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                {{ render(controller('App\\Controller\\UserController::sideMenu')) }}
            </div>
            <div class="col-sm-8">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
