{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="text-left inline-block">
                {% include "_breadcrumb.html.twig" with {items: [
                    {name: "Profile"}
                ]} %}

                <div>
                    {% include "@FOSUser/Profile/show_content.html.twig" %}
                </div>
                <div>
                    <a class="btn btn-primary btn-form-1-of-2" href="{{ path('fos_user_profile_edit') }}"
                       role="button">Edit</a>
                    <a class="btn btn-primary btn-form-2-of-2" href="{{ path('fos_user_change_password') }}"
                       role="button">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}