{% trans_default_domain 'FOSUserBundle' %}

<div class="not-frame-block">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
