{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-10 offset-xs-1 col-sm-9 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            {% include "_breadcrumb.html.twig" with {items: [
                {name: 'layout.register'|trans({}, 'FOSUserBundle')}
            ]} %}
            <div>
                {% include "@FOSUser/Registration/register_content.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}
