@import '~bootstrap/dist/css/bootstrap.min.css';
@import './../fontello/css/doc.css';

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #f9f9f9;
    margin-bottom: 60px; /* Margin bottom by footer height */
}

@media (max-width: 991px) {
    #main-nav .nav-item {
        margin: 12px auto 2px auto;
        max-width: 100%;
    }

    #main-nav .nav-item a {
        width: 50%;
    }
}

#main-nav .nav-item a:first-child {
    min-width: 100px;
}

#main-nav .nav-item.btn-user-group a:last-child {
    min-width: 100px;
}

#main-nav,
#main-footer {
    background-color: rgba(0, 0, 0, 0.1);
}

#main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
}

a:hover {
    text-decoration: none;
}

.form-control,
.form-control:focus {
    color: #212529;
}

.form-group {
    margin-bottom: 0.5rem;
}

.breadcrumb {
    border: 1px solid rgba(0,0,0,.125);
    background-color: inherit;
}

.breadcrumb-item.active {
    color: #212529;
}

.breadcrumb-btn {
    margin-top: 6px;
}

#content-block {
    padding-top: 20px;
    padding-bottom: 130px;
}

.not-frame-block {
    margin-top: 7px;
    padding-left: 16px;
    padding-right: 16px;
}

.not-frame-block-left {
    margin-top: 7px;
    padding-left: 16px;
}

.btn-form-1-of-1,
.btn-form-1-of-2,
.btn-form-2-of-2,
.btn-form-1-of-3,
.btn-form-2-of-3,
.btn-form-3-of-3 {
    padding-left: 16px;
    padding-right: 16px;
}

.btn-form-1-of-1 {
    width: 100%;
}

.btn-form-1-of-2,
.btn-form-2-of-2 {
    width: 49.5%;
}

.btn-form-1-of-2,
.btn-form-1-of-3 {
    float: left;
}

.btn-form-2-of-2,
.btn-form-3-of-3 {
    float: right;
}

.btn-form-1-of-3,
.btn-form-2-of-3,
.btn-form-3-of-3 {
    width: 33.3%;
}

input[type="color"] {
    height: 100%;
}


