@import '~bootstrap/dist/css/bootstrap.min.css';
@import './../fontello/css/doc.css';

body {
    background-color: #f9f9f9;
}

.form-control,
.form-control:focus {
    color: #212529;
}

.form-group {
    margin-bottom: 0.5rem;
}

.breadcrumb {
    border: 1px solid rgba(0,0,0,.125)
}

.breadcrumb-btn {
    margin-top: 6px;
}