.dataTables_wrapper {
    padding-left: 0;
    padding-right: 0;
}

.dataTables_wrapper >.row:first-child,
.dataTables_wrapper > .row:last-child {
    padding-left: 16px;
}

.dataTable {
    border-radius: .25rem;
    border-spacing: 0;
}

.dataTable td {
    padding: 6px 16px;
}

.dataTable thead th {
    text-align: center;
    border-top-width: 0;
    border-bottom-width: 0;
}