{% extends 'user/layout.html.twig' %}

{% block title %}New folder{% endblock %}

{% block content %}
    <h3>Create a new folder</h3>

    {{ include('folder/_form.html.twig') }}

    <br/>

    <a class="btn btn-primary" role="button" href="{{ path('folder_index') }}">Back to list</a>
{% endblock %}