@import './layout.css';
@import './template.css';

#template_text {
    min-height: 300px;
}

#text-variable-prototype {
    display: none;
}

#template_name {
    margin-bottom: 20px;
    font-size: 1.75rem;
}

#add-variable {
    width: 100%;
}

#variable-name-left-bracket,
#variable-name-right-bracket {
    position: absolute;
    top: 6px;
}

#variable-name-left-bracket {
    left: 21px;
}

#variable-name-right-bracket {
    right: 21px;
}

#variables-wrapper .text-variable-control {
    background-color: #f7f7f7;
}

.sortable-handle {
    cursor: -webkit-grab;
    cursor: grab;
}

.sortable-handle:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.variable-control {
    margin: 10px 0px;
}

.sortable-placeholder {
    margin: 10px 3px;
    background-color: #ffeb99;
    border-radius: 5px;
}

.sortable-start {
    background-color: #ced4da;
    border-radius: 5px;
}
