@import './../user/layout.css';
@import './template.css';

#template_text {
    height: 300px;
}

#text-variable-prototype {
    display: none;
}

#add-variable {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#variable-name-left-bracket,
#variable-name-right-bracket {
    position: absolute;
    top: 7px;
}

#variable-name-left-bracket {
    left: 21px;
}

#variable-name-right-bracket {
    right: 21px;
}

#variables-wrapper .text-variable-control {
    background-color: #f7f7f7;
}

#variables-wrapper .sortable-handle {
    cursor: -webkit-grab;
    cursor: grab;
}

.sortable-handle:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.variable-control {
    margin: 10px 0px;
}

.sortable-placeholder {
    margin: 10px 3px;
    background-color: #ffeb99;
    border-radius: 5px;
}

.sortable-start {
    background-color: #ced4da;
    border-radius: 5px;
}

#text-control {
    padding-top: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    border: 1px solid #17a2b8;
    border-bottom-color: transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

#name-folder-wrapper {
    padding-left: 15px;
}