#template {
    font-family: serif;
}

#text-control {
    margin-top: 7px;
}

#text,
#template_text {
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-variable-control {
    height: 38px;
}

#action-panel {
    text-align: center;
}