@import './../base.css';

#side-menu-block {
    padding-top: 20px;
    padding-bottom: 10px;
}

#side-menu-list .list-group-item {
    padding: 10px;
}

#side-menu-list .list-group-item:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

#side-menu-list .side-menu-template-list .list-group-item {
    padding-left: 25px;
}

.side-menu-folder,
.side-menu-template-list > .list-group-item {
    background-color: #e9ecef;
}

.side-menu-folder:before,
.side-menu-template-list i:before {
    color: #8c8c8c;
}

.side-menu-template-list i:before {
    vertical-align: 10%;
    font-size: 90%;
}

.side-menu-template-list i:before {
    margin-right: 7px;
}