@import './../base.css';

#side-menu-block {
    padding-top: 20px;
    padding-bottom: 10px;
}
#side-menu-list {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem;
}

#side-menu-list .list-group-item {
    padding: 10px;
    background-color: inherit;
    border: none;
}

#side-menu-list .list-group-item:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.075);
}

#side-menu-list .side-menu-template-list .list-group-item {
    padding-left: 25px;
}

.side-menu-template-list i:before {
    vertical-align: 10%;
    font-size: 90%;
}

#side-menu-search-input {
    border-width: 0 0 1px 0;
}

#side-menu-no-matching-templates {
    display: none;
    text-align: center;
    font-style: italic;
    color: #888888;
    margin: 8px 0;
}