@media (min-width: 576px) {
    #template-modal .modal-dialog {
        max-width: 755px;
    }
}

@media (min-width: 768px) {
    #template-modal .modal-dialog {
        max-width: 761px;
    }
}

@media (min-width: 992px) {
    #template-modal .modal-dialog {
        max-width: 982px;
    }
}

@media (min-width: 1200px) {
    #template-modal .modal-dialog {
        max-width: 1140px;
    }
}

#template-modal .modal-header {
    padding-bottom: 0;
    border-bottom: 0;
}

#template-modal .modal-body {
    padding-top: 0;
    padding-bottom: 0;
}

#template-modal .modal-footer {
    padding-top: 0;
    border-top: 0;
    display: block;
}

#template-modal .breadcrumb-row {
    width: 100%;
}

#template-modal .modal-content {
    background-color: #f9f9f9;
    margin-left: 1%;
    margin-right: 1%;
}

#text {
    padding: 15px;
    background-color: inherit;
    border: 1px solid #ced4da;
}

#text span {
    white-space: pre-wrap;
}

#template {
    font-family: serif;
}

#text-manager {
    margin-top: 7px;
}

#text,
#template_text {
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-variable-manager {
    height: 38px;
}

#action-panel {
    text-align: center;
}
